db_file
db_lsm
db_merge

test_duallist

test_stringref
test_glob
test_idgenerator

test_stl

test_pair
test_list
test_file
test_file.1
test_dir

*.exe

a.out

*.o
*.d

x.*

test.bin
test.bin.*

data.*
data/*
_ot/*

callgrind.out.*

